

@font-face {
  font-family: calibre-black;
  src: url(../fonts/CalibreBlack.otf);
}

@font-face {
  font-family: calibre-bold;
  src: url(../fonts/CalibreBold.otf);
}

@font-face {
  font-family: calibre-semibold;
  src: url(../fonts/CalibreSemibold.otf);
}

@font-face {
  font-family: calibre-reg;
  src: url(../fonts/CalibreRegular.otf);
}


@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;

}





body {
  margin: 0 0 2em 0;
  font-weight: 400;
  font-family: calibre-reg;
  font-style: normal;
  font-size: 17px;
  line-height: 1.6em;
  letter-spacing: .024em;
  text-rendering: optimizeLegibility;
  background-color: #F7F7F7;
  Color: #2E353F;

}

li {
  list-style: none;
}

.logo {
  font-size: 2em;
  font-family: 'lato', sans-serif;

}

nav {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  height: 5em;
  max-width: 80%;
  margin: 0 auto;
  padding: 0 5vw;

}

nav img {
  height: 28px;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: calibre-semibold;
  color: #000;
}

nav li {
  margin-left: 20px;
}

nav li:first-child {
  margin-left: 0;
}

nav .divider {
  flex: 1 0 auto;
}

nav a {
  color:#000;
  text-decoration: none;
}

nav a:hover {
  color: #D71B5D;
  text-decoration: none;
}

.active {
  color: #000;
  border-bottom: 1px solid #000;
}

/* PROJECT TITLE */

h2 {
  font-family: calibre-bold;
  color:#000;
  font-size: 2.5em;
  margin-bottom: 0;
  text-align: center;
  line-height: 1.2em;
}


/* SECTION HEADING */

h3 {
  font-family: calibre-bold;
  color:#000;
  font-size: 2em;
  margin: 2em 0 0 0;
  line-height: 1.2;

}

/* PROJECT SUBJEADING  ALL CAPS */
h5 {
  color:#000;
  font-size: 1em;
  text-align: center;
  font-family: calibre-semibold;
  letter-spacing: 0.025
}

h6 {
  margin-bottom: 0px;
  font-size: 1.6em;
  color: #000;
  font-family: calibre-semibold;
}


.emphasis {
  font-weight: 600;
  color: #000;
}

.spacer {
  height: 2em;
}


.section-container {
  max-width: 810px;
  margin: 4em auto;


}

.section-container img {
  max-width: 810px;
  z-index: 10;
  border-right: 2px;
  margin: 1em 0;

}

  .project-heading {
    margin: 0px auto;
    max-width: 80%;
  }

  .project-heading img {
    max-width: 100%;
  }


.two-columns {
  display: flex;

}

.two-columns p {
  margin-right: 3em;
}

figure {
  margin: 0;
  background-color: #fff;
  border: 20px #fff solid;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}

figcaption{
  line-height: 1.6em;
  font-size: .8em;
  font-family: serif;
}

.shadow {
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}

.space {
  height:70px;
}

.margin-top-none {
  margin-top: 0;
}

.half-width{
  flex: 50%;
}

.role-container {
  background-color: #ebeef2;
  color: #000;
}

.role-container h5 {
  margin-bottom: -10px;
}

.check-icon {
  background-image: url(../img/check-circle.svg);
  height: 18px;
  width: 18px;
  display: inline-block;
  position: relative;
  top: 3px;
  margin-right: 10px;
}

.small-text {
  font-size: 14px;
}


.role-container h5 {
  text-align: left;
}

.role-container ul {
  padding: 0;
}


.half-width img {
  width: 100%;
  margin: 0;
}

.flex-break {
  margin-top: 1em;
  display: block;
}

.fullwidth-image {
  max-width: 100%;
}

.overlay {
  position: relative;
  top:-72px;
  z-index: -10;
}

.callout  {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 30px 40px 40px 40px;

}

.git {
  margin: 0 auto;
  color: #000;
  font-size: 2em;
  font-family: Calibre-bold;
}


button{
  background-color: #2E353F;
  padding: 15px 30px 10px 30px;
  color: #efefef;
  border-radius: 4px;
  font-size: 18px;
  font-family: calibre-semibold;
  margin: 20px auto;
}

@media only screen and (max-width: 550px) {



  nav {
    padding: 0 5vw 5vw 5vw;
  }

  nav ul {
    padding: 30px 0;
  }

  nav .divider {
    flex: 1 0 auto;
    min-width: 60px;
  }

.section-container {
  max-width: 80%;
  align-items: center;

}

.section-container img {
  max-width: 100%;
  align-items: center;

}
